extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
 div(id="siteHeader")
  h1(id="title")= title
 div(id="searchy")
  input(class="searchBox" autocomplete="off" name="q" type="text" placeholder="Search Potions" aria-label="Search" aria-controls="searchResults")
  button(type="submit" class="searchSubmit" aria-label="Search")
 div(class="box")
  button(id="signin") Sign Up
  button(id="login") Log In
 div(class="recentPotions")
  h2= "RECENTLY ADDED POTIONS"
 div(class="potionTag")
  p="potion tag"
  p="potion tag"
  p="potion tag"
  p="potion tag"
