
mixin Comments
    link(rel="stylesheet" href="/stylesheets/comments.css")
    script(src="/javascripts/potionsRequirement.js" type = "module")
    script(src="/javascripts/commentEditDelete.js" type = "module")

    if locals.authenticated
        textarea#commentInput(placeholder="Write a comment here...")
        button(class="commentSubmit" id=potion.id) Add Comment

    h2#commentHeader Comments:
    if potion.Comments
        each comment in potion.Comments
            div(class='commentItems' id=`commentContainer-${comment.id}`)
                p(class='user') #{comment.User.username} says:
                p #{comment.comment}
                div.commentOpts
                    button(class='edit' id=`edit-${comment.id}`) Edit
                    button(class='del' id=`del-${comment.id}`) Delete
