extends layout.pug

block content
    link(rel='stylesheet' href='/stylesheets/search.css')
    script(src="/javascripts/potionsTypeFilter.js" type = "module")
    div(id='sidebar')
        p Filter By Type:
        ul
            li
                img(src="https://i.imgur.com/RYKtJ0Q.png", alt="Healing")
                h3 Healing
            li
                img(src="https://i.imgur.com/TS6Bcbr.png", alt="Buff")
                h3 Buff
            li
                img(src="https://i.imgur.com/UkUlczj.png", alt="Utility")
                h3 Utility
            li
                img(src="https://i.imgur.com/Eb5yNxw.png", alt="Combat")
                h3 Combat
            li
                img(src="https://i.imgur.com/CAawjOY.png", alt="Poison")
                h3 Poison
            li
                img(src="https://i.imgur.com/UVodTbe.png", alt="Enchantment")
                h3 Enchantment
            li
                img(src="https://i.imgur.com/zVwEYOh.png", alt="Illusion")
                h3 Illusion

    div(id='results-container')
        h2 Search Results:
        if results
            each result in results
                a(class='result-card' id=`${result.PotionType.name}` href=`/potions/${result.id}`)
                    img(id='potion-image' src=`${result.PotionType.image}`, alt="an image of a potion")
                    h2#potion-name #{result.name}
                    span#potion-type Type: #{result.PotionType.name}
                    span#potion-description #{result.description}
